<%# Override https://tinyurl.com/23vzmcv3 %>
<p><%= "#{t(:hello).capitalize}、#{@resource.name}" %>さん。</p>
<p>
  TASCONにご登録いただいたメールアドレスを確認します。<br/>
  <%= t(".confirm_link_msg") %>
</p>
<p>
  <%= link_to t(".confirm_account_link"), confirmation_url(@resource, {
    confirmation_token: @token,
    config: message["client-config"].to_s,
    redirect_url: message["rediret-url"].to_s,
  }).html_safe # rubocop:disable Rails/OutputSafety %>
</p>
